<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VillageLIVE</title>

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Mallanna|Nunito" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
  

  <div class="container" style="background-color: #Fff;">
  <!-- <div class="bg"></div> -->

    <div class="jumbotron jumbotron-fluid">
      <div id="sitetitle"><h1>VillageLIVE</h1></div>
      <h5 id="headline">A celebration of Queer Community on the Streets of New York.</h5>
      <p>
        <div id="mainmenu" class="btn-group">
          <a class="btn-menubutton-active" type="button" href="/about" role="button"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  About</a>
          <a class="btn-menubutton" type="button" href="/explore" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Explore</a>
          <a class="btn-menubutton" type="button" href="/survey" role="button"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Contribute</a>
        </div>
      </p>
    </div>

    <div class="row" id="mission">
      <div class="col-md-1"></div>
      <div class="col-md-4"><img src="https://s3-us-west-2.amazonaws.com/villagelive1/sylvia.png" alt="sylvia"></div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-6"> 
        <h2>Mission</h2>
        <p> The neighborhoods that were important to the revolutionary queer communities of NYC are not what they used to be.</p>
        <h4>We want to bring queer history into the present.</h4>
        <p> Our goal is to create an augmented/mixed reality experience where parts of Nelson Sullivan’s video archive are virtually embedded into the physical space of current day New York, alongside stories contributed by users like you.</p>
        <br>
        <a class="btn-infobutton" href="/survey" role="button"> View the Map</a>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>

    <div class="row" id="checkitout">
      <div class="col-md-3">
        <img src="https://s3-us-west-2.amazonaws.com/villagelive1/christopher-street-west-village.png" alt="sign" height="200">
      </div>
      <div class="col-md-6">
        <h5 id="learnmore">Learn more about the Mixed Reality/AR Experience</h5>
        <a class="btn-infobutton2" href="/explore" role="button"> Check it Out! </a>
      </div>
      <div class="col-md-3" style="background-color: #58ECDC;">
        <img src="https://s3-us-west-2.amazonaws.com/villagelive1/child.png" alt="child" height="200" >
      </div>
    </div>

    <div class="row" id="nelson">
      <div class="col-md-1"></div>
      <div class="col-md-4"><img src="https://s3-us-west-2.amazonaws.com/villagelive1/nelson.png" alt="nelson" width="300"></div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-6" id="aboutnelson"> 
      <h4>About Nelson</h4>
        <p> Nelson Sullivan was a video artist in New York City in the 1980s. Widely recognized as the first vlogger, his documentation of the city’s downtown scene is an unparalleled archive of queer life. </p>
        <br>
        <p> His work featured the likes of RuPaul, Lady Bunny, and Michael Musto. Thanks to the 5 Ninth Project, Nelson’s work has been digitized and organized on Youtube.</p>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>

  <footer class="row" id="footer">
      <div class="container">
        <p class="p-footer">Thank you for checking us out.<br>Contact us at villageLIVE@gmail.com</p>
      </div>
  </footer>  

  </div>

 
  </body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAcN6VtdpM55-CGGyEAWX2qEWs_Qwg4wXM"></script>    --> 

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- JQuery validate -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

<!--     <script type="text/javascript">
      $("form").validate({
          rules: {
            editWeight: {
              required: true,
              number: true // must be a number
            },
            weight: {
              required: true,
              number: true // must be a number
            }
          }
      }); 
    </script>   -->  

    <!-- CUSTOM JS -->
    <script src="js/main.js"></script>
</html>