/**************/
/* Custom CSS */
/**************/
body{
	background-color: #F3f3f3;
	/*background-color: #fff;*/
	color: #5b5b5b;
	font-family: 'Mallanna', sans-serif;
	text-align: left;
}

p{
	font-family: 'Mallanna', sans-serif;
	color: #5b5b5b;
	font-size: 18px;
	line-height: 1.4;

}



h1 {
	font-family: 'Nunito', sans-serif;
	color: #762866;
	font-size: 100%;

}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #762866;
	font-size: 28px;
	
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #FD3A98;
	font-size: 300%;
	text-decoration: none;
}

h4 {
	font-family: 'Nunito', sans-serif;
	color: #FD3A98;
	font-size: 24px;
}

h5 {
	font-family: 'Mallanna', sans-serif;
	color: #FD3A98;
	font-size: 24px;
}


.jumbotron{
	text-align: center;
	/*background: url('/assets/headerimage.png') no-repeat center center;*/
	background: url('https://s3-us-west-2.amazonaws.com/villagelive1/headerimage2.png') no-repeat center center;
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /*height: 300px;*/
    /*width:100%;*/
    /*margin-top: 15px;*/
    /*margin:0 auto;*/
}

.container .jumbotron {
    border-radius: 0px;
}

#footer{
	padding-top: 30px;
	height: 115px;
	background-color: #FD3A98;
}

.p-footer{
	font-family: 'Mallanna', sans-serif;
	color: #fff;
	font-size: 120%;
	text-align: center;
}

#sitetitle{
	margin-left:150px;
	margin-right:150px;
	margin-bottom: 20px;
	margin-top: -30px;
	/*padding:10;*/
	border-bottom: 2px solid #58ECDC;
}

#headline{
	padding:10;
	margin-bottom: 20px;
	color: #fff;
}

.btn {
	background-color: #fff;
	border: 2px solid;
    border-color: #58ECDC;
    border-radius:.6px;
    height:50px;
    width:200px;
}

.btn-menubutton {
	display:inline-block;
	height:40px;
    min-width: 200px;
    font-size: 20px;
    line-height: 1.9;
    color: #fff;
    background-color: #58ECDC;
    margin: 10px;
    border: 2px solid #58ECDC;
    border-radius: 6px;
    
}

.btn-menubutton:hover, .btn-menubutton:focus {
    background-color: #fff;
    border: solid 1px #58ECDC;
    text-decoration: none;
    color:#58ECDC;
}

.btn-menubutton:active {
    background-color: #fff;
    border: solid 1px #58ECDC;
    text-decoration: none;
    color:#58ECDC;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

.btn-menubutton-active {
	display:inline-block;
	height:40px;
    min-width: 200px;
    font-size: 20px;
    line-height: 1.9;
   	background-color: #fff;
   	margin: 10px;
    border: solid 2px #fff;
    text-decoration: none;
    color:#CE7AEB;
    border-radius: 6px;
}

.btn-menubutton-active:hover, .btn-menubutton-active:focus {
    background-color: #fff;
    border: solid 1px #58ECDC;
    text-decoration: none;
    color:#58ECDC;
}

.btn-menubutton-active:active {
    background-color: #fff;
    border: solid 1px #58ECDC;
    text-decoration: none;
    color:#58ECDC;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

.btn-infobutton {
	display:inline-block;
	height:40px;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    color: #fff;
    background-color: #CE7AEB;
    /*margin: 10px;*/
    border: 2px solid #CE7AEB;
    border-radius: 6px;
    padding: 0px 30px 0px 30px;
}

.btn-infobutton:hover, .btn-infobutton:focus {
    background-color: #fff;
    border: solid 1px #CE7AEB;
    text-decoration: none;
    color:#CE7AEB;
}

.btn-infobutton:active {
    background-color: #fff;
    border: solid 1px #CE7AEB;
    text-decoration: none;
    color:#CE7AEB;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

.btn-infobutton2 {
	display:inline-block;
	height:40px;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    color: #fff;
    background-color: #FD3A98;
    /*margin: 10px;*/
    border: 2px solid #FD3A98;
    border-radius: 6px;
    padding: 0px 25px 0px 25px;
}

.btn-infobutton2:hover, .btn-infobutton:focus {
    background-color: #fff;
    border: solid 1px #FD3A98;
    text-decoration: none;
    color:#FD3A98;
}

.btn-infobutton2:active {
    background-color: #fff;
    border: solid 1px #FD3A98;
    text-decoration: none;
    color:#FD3A98;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

#mission{
	padding-top: 30px;
	padding-bottom: 30px;
}

#checkitout{
	height: 200px;
	background-color: #58ECDC;
	padding-bottom: 30px;
	text-align: center;
}

#learnmore{
	/*margin: -top: 20px;*/
	padding: 15px 20px 15px 20px;
	color: #fff;
	font-size: 36px;
	/*vertical-align: middle;*/
	line-height: 40px; 
}

#nelson{
	padding-top: 30px;
	padding-bottom: 30px;
}

#aboutnelson{
	padding-top: 50px;
	padding-bottom: 30px;
}

#villageliveapp{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

#viewmap{
	height: 300px;
	background-color: #58ECDC;
	padding-bottom: 30px;
	text-align: left;
}

#arches{
	position: absolute;
    left: 0;
    bottom: -299px;
}







#memorylabel{
	margin-left: 20px;
}

#survey{
	/*position: relative;`
	top: -50px;*/
	/*margin-top: 20px;*/
	background-color: #fff;
	border: 3px solid white;
	border-radius: 10px;
	/*margin-left: 10px;*/
}

#individualpost{
	/*list-style-type:none;*/

	line-height: 120%;
	background-color: rgba(255, 255, 255, .5 );
	width: 220px;
	border: 3px solid white;
	margin: 10px;
	border-radius: 10px;
	height: 300px;
	text-overflow: ellipsis;
	overflow: scroll;
	padding: 5px 7px 3px 7px;
	/*margin-top: 20px;*/
/*	background-color: #FFF;
	*/
}

.contribution {
	min-height: 250px;
}

/*.contribution img {
	width: 400px;
}*/

#contribution-holder{
	/*position: relative;
	top: 40px;*/
	margin-top: 10px;
	padding: 10px;
	/*background-color: #FFF;*/
}

#mapid { 
	position: relative;
	/*top: 10px;
	left: 800px;*/
	height:1075px; 
	width: 100%;
	margin-left: 10px;
}

.nelsonmapButton{
	width: 120px;
	/*height:40px;*/
    font-size: 14px;
    text-align: center;
    line-height: 1.9;
    color: #fff;
    background-color: #8AF1E6;
    /*margin: 10px;*/
    border: 2px solid #8AF1E6;
    border-radius: 6px;
    /*padding: 0px 15px 0px 15px;*/
}

.nelsonmapButton:hover,  {
    background-color: #A9A9A9;
    border: solid 2px #A9A9A9;
    text-decoration: none;
    color:#fff;
}

.usermapButton{
	width: 120px;
	/*height:40px;*/
    font-size: 14px;
    text-align: center;
    line-height: 1.9;
    color: #fff;
    background-color: #FD3A98;
    /*margin: 10px;*/
    border: 2px solid #FD3A98;
    border-radius: 6px;
    /*padding: 0px 15px 0px 15px;*/
}

.usermapButton:hover,  {
    background-color: #A9A9A9;
    border: solid 2px #A9A9A9;
    text-decoration: none;
    color:#fff;
}

/*.mapButton:active {
    background-color: #A9A9A9;
    border: solid 2px #A9A9A9;
    text-decoration: none;
    color:#fff;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}*/

.mapButtonActive{
	width: 120px;
    font-size: 14px;
    text-align: center;
    line-height: 1.9;
    color: #fff;
    background-color: #A9A9A9;
    border: solid 2px #A9A9A9;
    text-decoration: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}



button:focus {outline:0;}

/* IMPORTANT - must give map div height */
/*#map-canvas { 
	position: relative;
	/*top: 10px;
	left: 800px;
	height:400px; 
	width: 95%;
	margin-left: 10px;
}

/* IMPORTANT - fixes webkit infoWindowendering 
#map-canvas img { max-width: none; }