/**************/
/* Custom CSS */
/**************/

body{
	background-color: #F3EBF6;
	/*background-color: #fff;*/
	color: #5b5b5b;
	font-family: 'Mallanna', sans-serif;
	text-align: left;
}

p{
	font-family: 'Mallanna', sans-serif;
	color: #5b5b5b;

}

h1 {
	font-family: 'Nunito', sans-serif;
	color: #762866;
	font-size: 100%;

}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #FD3A98;
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #FD3A98;
	font-size: 300%;
	text-align: center;
}

h4 {
	font-family: 'Nunito', sans-serif;
	color: #FD3A98;
	font-size: 200%;
}

#memorylabel{
	margin-left: 20px;
}

#survey{
	position: relative;
	top: -50px;
	margin-top: 20px;
	background-color: #FFF;
	border: 3px solid white;
	border-radius: 10px;
}

#individualpost{
	/*list-style-type:none;*/

	line-height: 120%;

	background-color: rgba(255, 255, 255, .5 );

	width: 220px;

	border: 3px solid white;
	margin: 10px;

	border-radius: 10px;

	height: 300px;
	text-overflow: ellipsis;
	overflow: scroll;

	padding: 5px 7px 3px 7px;
	/*margin-top: 20px;*/
/*	background-color: #FFF;
	*/
}

.contribution {
	min-height: 250px;
}

.contribution img {
	width: 250px;
}

#contribution-holder{
	/*position: relative;
	top: 40px;*/
	margin-top: 10px;
	padding: 10px;
	/*background-color: #FFF;*/
}

/* IMPORTANT - must give map div height */
#map-canvas { 
	position: relative;
	top: 10px;
	height:350px; 
}

/* IMPORTANT - fixes webkit infoWindow rendering */
#map-canvas img { max-width: none; }